*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}
/*HEADER*/
  nav{
      
      border: solid;
      border-color: black ;
      border-bottom-width: 0px;
      border-left: black;
      border-right: black;
      border-top: black;
      border-bottom: black;
      height: 7rem;
     }

  ul{
    display: flex;
    justify-content: right;
    padding-right: 5rem;
    margin-top: 3rem;
  }
  #barra{
    padding: 1rem;
  }
  
  .link{
    list-style: none;
    color:rgb(75, 75, 75);
    margin-top:1.2rem;
  }

  .header_puntos{
   width:40px;
   list-style:none;
  }
  .header_puntos a{
    width: 100%;
  }
  .header_perfil{
    width: 60px;
    list-style:none;
  }
  .header_puntos a{
    width: 100%;
  }

/*MAIN DE LA PAGINA*/

.icono{
  display: flex;
  justify-content:center;
  margin-top:8rem;
}

.input{
  display: flex;
  justify-content:center;
  padding-top:5rem;
}
    .input input{
     order: 2;
     border-radius:4rem;
     width:35rem;
    }

    .input .input_lupa{
      order: 1;
    }

    .input .input_micro{
      order:3
    }

   .input img{
  width:30px;
   }

.botones{
  display: flex;
  justify-content:center;
  margin: 3rem;
  
}

/*FOOTER*/
footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .section1{
  
  margin-left: 5rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 40rem;
}

footer .section2{
  margin-right:6rem;
  line-height: 40rem;
}