*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/*HEADER*/
  nav{
      border: solid;
      border-color: black;
      border-bottom-width: 1px;
      border-left: black;
      border-right: black;
      border-top: black;
      height: 7rem;
     }

  ul{
    display: flex;
    justify-content: right;
    text-align: right;
    padding-right: 5rem;
    margin-top: 3rem;
  }
  header nav ul li{
    list-style:none;
    color:rgb(36, 36, 36);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right:1rem;
  }
  .header_puntos{
    width:15%;
    text-align: center;
  }
  .header_perfil{
    width: 20%;
    text-align: center;
  }
  
  
